aiogram
pydantic-settings
aiosqlite
psycopg[binary]>=3.2
cryptography>=42
qrcode>=7.4
rich
tomli
python-dotenv
requests
requests-futures
aiohttp-socks
aiodns
colorama
html5lib
lxml
pycountry
PySocks
python-dateutil
socid-extractor
soupsieve
alive-progress
typing-extensions
networkx
pyvis
reportlab
flask
platformdirs
curl-cffi
stem
pandas
openpyxl
pycares
python-socks
urllib3
pillow
beautifulsoup4
chardet
charset-normalizer
about-time==4.2.1
graphemeu==0.7.2
xmind
